
.content_c {
    width: 100%;
    text-align: center;
    display: flex;
}
.content_c span{
    border: 1px solid black;
    width: 100%;
    display: inline-block;

}
#printf1>.content_c>.c_span1 {

    background: #89e427;
}
#printf1>.content_c>.c_span2 {

    background: #54FFFF;
}
#printf1>.content_c>.c_span3 {

    background: #e87575;
}
/********************************/
#printf2>.content_c>.c_span1 {
    background: #89e427;
}
#printf2>.content_c>.c_span2 {
    background: #54FFFF;
}
#printf2>.content_c>.c_span3 {
    background: #e87575;
}
.lan{
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 45px;
    display: flex;

}
.lan>span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-l{
    display: flex;
}
.flex-l>div:nth-child(1){
    height: 250px;
    width: 160px;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
}
.content{
    height: 100%;
    flex: 1;
}
